@using RazorStatic.Components
@using RazorStatic.ConsoleApp.Layouts

@inherits CollectionFileComponentBase

@{
    var fragment = CreateRenderFragment($"<h1 style='color:red'>{Slug}</h1>");
}

<RootLayout Css="_css/blog.css">
    <div class="flex justify-center items-center">
        @fragment
    </div>
</RootLayout>