@using RazorStatic.Shared.Components
@using System.IO
@using System.Text.RegularExpressions

@inherits FileComponentBase

@{
    var title = FilePath?[FilePath.LastIndexOf(Path.DirectorySeparatorChar)..FilePath.LastIndexOf('.')];
    title = new Regex("[^a-zA-Z0-9]").Replace(title ?? string.Empty, " ").Trim();

    var fragment = CreateRenderFragment($"<h1 style='color:red'>{title}</h1>");
}

<div class="flex justify-center items-center">
    @fragment
</div>