@using RazorStatic.Components
@using System.Text.RegularExpressions

@inherits CollectionFileComponentBase

@{
    var title    = new Regex("[^a-zA-Z0-9]").Replace(ContentFileName ?? string.Empty, " ").Trim();
    var fragment = CreateRenderFragment($"<h1 style='color:red'>{title}</h1>");
}

<div class="flex justify-center items-center">
    @fragment
</div>