@using RazorStatic.ConsoleApp.Layouts
@using RazorStatic.Core

@{
    var blogDirs = BlogCollection.All;
    var dirs     = blogDirs;
}

<RootLayout Css="_css/home.css">
    <h1 class="text-6xl text-amber-400">Blog Page</h1>
</RootLayout>