<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <base href="/"/>

        <title>My Awesome Site</title>

        <link rel="stylesheet" href="_css/tailwind.css">
    </head>

    <body>
        @ChildContent
    </body>

    <script src="_js/script.js"></script>
</html>

@code{

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}